body {
  background: gray;
}

.grid-container {
  min-height: 100vh;
  background: white;

  display: grid;
  justify-items: stretch;
  grid-template-columns: [col1] 50px [col2] 50px [col3] 50px [col4] 50px [col5];
  grid-template-rows: [row1] 50px [row2] 50px [row3] 50px [row4] 50px [row5];
  /* grid-template:
    "header header header aside2"
    "main main aside aside2"
    "footer footer footer aside2"
    "footer2 footer2 footer2"; */
}

.grid-container > header {
  background: greenyellow;

  grid-column: col1 / col4;
  grid-row: row1 / row2;
}

.grid-container > main {
  background: yellow;
  grid-column: col1 / col4;
  grid-row: row2 / row4;
}

.grid-container > aside {
  background: steelblue;

  grid-column: col3 / col4;
  grid-row: row2 / row4;
}

.grid-container > footer {
  background: black;
  color: white;

  grid-column: col1 / col4;
  grid-row: row3 / row4;
}

.grid-container > .aside-2 {
  background: blueviolet;

  grid-column: col4 / col5;
  grid-row: row1 / row5;
}
.grid-container > .footer-2 {
  background: blanchedalmond;

  grid-column: col1 / col5;
  grid-row: row4 / row5;
}
